<form action="<%= "#{ url_for(@commentable) }/comments" %>" method="post">

<!-- <form action="<%= "/#{@commentable.class.name.downcase}s/#{@commentable.id}/comments" %>" method="post"> -->
  <%= render 'shared/csrf_token' %>

  <label for="body">What would you like to say?</label>
  <textarea id="body" name="comment[body]"><%= @comment.body %></textarea>

  <input type="submit" value="Submit Comment">
</form>
